@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: #FFF;
  --background-start-rgb: theme(colors.dark-blue);
  --background-end-rgb: theme(colors.dark-blue);
}
html {
  scroll-snap-type: y mandatory;
}

::selection {
  color: theme(colors.white);
  background: theme(colors.neon-pink);
}

body {
  color: var(--foreground-rgb);
  /* background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb); */
    background-color: var(--background-end-rgb);
}

h1{
  @apply font-black text-8xl
}
h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
}