@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: #EEE;
  --background-end-rgb: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FFF;
    --background-start-rgb: theme(colors.dark-blue);
    --background-end-rgb: theme(colors.300);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

h1{
  @apply font-black text-8xl
}
h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
}